.container {
    margin: auto;
    margin-top: 32px;
    margin-bottom: 60px;
    padding: 20px;
    width: 90%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 16px #ccc;
}

.nsk {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.plane {
    width: 100%;
    box-shadow: 0 4px 5px #ccc;
}

.container p{
    margin-top: 2px;
    margin-bottom: 2px;
}