body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background: rgb(237,237,237);
}

form {
    width: 600px;
    padding: 50px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 16px #ccc;
}

.login {
    width: 250px;
    padding: 50px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 16px #ccc;
}

.button-box, .button-box-login{
    margin-bottom: 0px;
    text-align: center;
}

input[type="text"], input[type="password"]{
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    font-size: 16px;
}

.flash{
    margin: 0;
    color: red;
}

h1 {
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
}

div {
    position: relative;
    margin-bottom: 32px;
}

input[type="text"]:focus, input[type="password"]:focus{
    border-bottom: 1px solid #1a73a8;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 113, 240, 0.7);
    outline: none;
    transition: 0.3s;
}

button:hover, button:focus {
    background-color: rgba(0, 113, 240, 0.7);
}

.button-box-login button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 113, 240);
    outline: none;
    transition: 0.3s;
}

.button-box-login button:hover, .button-box-login button:focus {
    background-color: rgba(0, 113, 240, 0.7);
    cursor: pointer;
}


.row {
    margin-bottom: 0;
    display: grid;
    grid-gap: 10px;
}

.col {
    margin-bottom: 0;
    grid-row: 1 / span 2;
    text-align: center;
    font-size: 30px;
}

.radio {
    margin-bottom: 6px;
}