body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: white;
}

.form {
    padding-bottom: 40px;
}

form {
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    width: 70%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 16px #ccc;
}

h1 {
    text-align: center;
    font-weight: normal;
}

form div {
    padding: 15px;
    text-align: center;
}

form div .label {
    padding: 0;
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
    font-size: 16px;
}

input[type="text"]:focus{
    border-bottom: 1px solid #1a73a8;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #0071f0;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: rgba(0, 113, 240, 0.7);
}

.list_ul {
    margin-top: 50px;
    margin-bottom: 50px;
}

li div h1 {
    padding-bottom: 10px;
    text-align: center;
    font-weight: normal;
}

.list_div {
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    padding-bottom: 20px;
    width: 70%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 16px #ccc;
}

.buttons_div {
    text-align: right;
    margin-top: 20px;
}

.edit {
    text-decoration:none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #00DA48;
    cursor: pointer;
    transition: 0.3s;
}

.edit:hover {
    background-color: rgba(0, 218, 72, 0.7);
}

.delete {
    text-decoration:none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #F20054;
    cursor: pointer;
    transition: 0.3s;
}

.delete:hover {
    background-color: rgba(242, 0, 84, 0.7);
}

.book {
    text-decoration:none;
    padding: 10px 20px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #45B4E6;
    cursor: pointer;
    transition: 0.3s;
}

.book:hover {
    background-color: rgba(69, 180, 230, 0.7);
}