* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.navbar {
    height: 100px;
    background-color: #34495e;
    padding: 0 20px;
    color: #fff;
    box-shadow: 0 10px 16px rgb(129, 129, 129);
}

.navbar .image {
    margin-top: 25px;
    margin-right: 10px;
    height: 50px;
    float: left;
}

.navbar .logo {
    line-height: 100px;
    float: left;
    text-transform: uppercase;
}

.navbar .menu {
    float: right;
    line-height: 100px;
}

.navbar .menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
}

.menu a:hover {
    color: #89E3FF;
    transition: 0.3s;
}

.h1 {
    margin-top: 50px;
    text-align: center;
}