{% extends "layout-user-logined.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block body %}
    <img class="plane" src="{{url_for('static', filename='plane.jpg')}}" alt="">
    <div class="container">
        <h1>Contact with us</h1>
        <p>
            <b>Email:</b> info@localhost.lv
        </p>
        <p>
            <b>Number:</b> Daugavgrīvas iela 140, Kurzemes rajons, Rīga, LV-1007
        </p>
        <p>
            <b>Adress:</b> +37129004567
        </p>
    </div>
    <div class="container">
        <h1 class="nsk">Basic company information</h1>
        <div class="text1">
            <p>Latvian airline AIRLINES Corporation AS (AIRLINES) was founded in 2010. Its primary shareholder is the Latvian state, which holds 96.14% of the stock, while Lars Thuesen holds 3.86% through his fully-owned Aircraft Leasing 1 SIA. 
                AIRLINES is a hybrid airline taking the best practices both from traditional network airlines and low cost carriers.
                In 2015, airBaltic changed its operating model from a point-to-point carrier to a network airline making Riga a connecting hub. 
                The airline offers low fare tickets in its network spanning Europe, Scandinavia, Russia, CIS and the Middle East. The prices are competitive not only with other airlines, but also with the prices of bus, car, train or ferry travel. 
                Tickets are available not only for direct but also for transfer flights.</p> 
        </div>
        <h2 class="nsk">Our values</h2>
        <div class="text1">
            <p>
                <strong>We deliver</strong>
                – Consistent excellence in every aspect of our business is what we strive for every day. We are strongly committed to deliver top-notch quality in all areas of our operations.
                We make sure that travel is safe, punctual and smooth for our customers. We are a reliable partner for everyone we cooperate with. 
                By connecting people and places we bring benefit to the whole society.
    
            </p>
        </div>
        <div class="text1">
            <p>
                <strong>We care</strong>
                – We love what we do and our passion for aviation inspires others. We build long-lasting relationships with our passengers, anticipating their needs and offering the best service possible. 
                Sustainability is at the core of all the ways we work – how we do business, how we interact with people, how we care about environment, introducing green practices wherever we can.
            </p>
        </div>
        <div class="text1">
            <p>
                <strong>We grow</strong>
                -We see challenges as opportunities to develop. We innovate, improve and move forward in order to be ahead of the industry. We are a team of the best professionals in the field who are constantly working to stay on top. 
                We believe in the balance of thinking fast and smart – true leaders are flexible visionaries and take clear decisions to adapt to change and create a better future.
            </p>
    
        </div>
        <h2 class="nsk">Destinations</h2>
        <div class="text1">
            <p>Currently, airBaltic operates direct flights out of all capital of the Latvia – Riga (Latvia). airBaltic offers convenient connections via North Hub Riga to its network spanning Europe, Scandinavia, Russia, CIS and the Middle East.</p>
        </div>
        <div class="text1">
        <p>
            <strong>Direct flights from Riga</strong>
        to Aberdeen, Almaty, Amsterdam, Athens, Baku, Barcelona, Bergen, Berlin, Billund, Brussels, Budapest, Catania, Copenhagen, Dublin, Dubrovnik, Dusseldorf, Frankfurt, Geneva, Gothenburg, Hamburg, Helsinki, Kalniningrad, Kazan, Kyiv, Larnaca, Liepāja, Lisbon, London, Madrid, Malaga, Manchester, Milan, Minsk, Moscow, Munich, Nice, Odessa, Olbia, Oslo, Palanga, Palma de Mallorca, Paris, Prague, Reykjavik, Rhodes, Rijeka, Rome, Salzburg, Split, Stockholm, St. Petersburg, Stavanger, Stuttgart, Tallinn, Tbilisi, Tel Aviv, Thessaloniki, Trondheim, Turku, Venice, Verona, Vienna, Vilnius, Warsaw, Yekaterinburg, Yerevan, Zurich.</p>
        </div>
    </div>
{% endblock %}