{% extends "navbar.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/control-panel.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/getFlights-admin.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="form">
        <form action="" method="POST">
            <h1>Make a new flight</h1>
            <div>
                <div class="label">
                    <label>From country:</label>
                </div>
                <input type="text" name="from_c" placeholder="Latvia, Riga">
            </div>
            <div>
                <div class="label">
                    <label>To country:</label>
                </div>
                <input type="text" name="to_c" placeholder="Poland, Varsava">
            </div>
            <div>
                <div class="label">
                    <label>Travel agency:</label>
                </div>
                <input type="text" name="agency" placeholder="Novatours">
            </div>
            <div>
                <div class="label">
                    <label>Start date:</label>
                </div>
                <input type="text" name="start" placeholder="10.01.20 8:30">
            </div>
            <div>
                <div class="label">
                    <label>End date:</label>
                </div>
                <input type="text" name="end" placeholder="19.01.20 4:10">
            </div>
            <div>
                <div class="label">
                    <label>Price:</label>
                </div>
                <input type="text" name="price" placeholder="900">
            </div>
            <div>
                <div class="label">
                    <label>Total seats:</label>
                </div>
                <input type="text" name="seats" placeholder="90">
            </div>
            <div>
                <input type="submit" value="Make Post">
            </div>
        </form>
    </div>

    <ul class="list_ul" id="posts">

    </ul>
{% endblock %}