{% extends "layout-user-logined.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="h1-logo">
            <h1>Welcome to Latvian Airlines!</h1>
        </div>
        <div class="h2-logo">
            <h2>Book your skiing holiday</h2>
        </div>
        <div class="travels-rows">
            <div class="travels-column">
                <div class="travels-mini">
                    <img src="https://www.airbaltic.com/destinations-silo-2019/ktt.jpg?0a556eb29">
                    <div class="travels-mini-info">
                        <p>Riga -</p>
                        <h3>Kittila</h3>
                        <h4>January</h4>
                        <div class="inline">
                            <p>From</p>
                            <h1 class="euro">99 €</h1>
                        </div>
                        <div class="botton-box">
                            <a href="/search" class="button">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travels-column">
                <div class="travels-mini">
                    <img src="https://www.airbaltic.com/destinations-silo-2019/szg.jpg?0a556eb29">
                    <div class="travels-mini-info">
                        <p>Riga -</p>
                        <h3>Salzburg</h3>
                        <h4>December</h4>
                        <div class="inline">
                            <p>From</p>
                            <h1 class="euro">120 €</h1>
                        </div>
                        <div class="botton-box">
                            <a href="/search" class="button">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travels-column">
                <div class="travels-mini">
                    <img src="https://www.airbaltic.com/destinations-silo-2019/muc.jpg?0a556eb29">
                    <div class="travels-mini-info">
                        <p>Riga -</p>
                        <h3>Munich</h3>
                        <h4>December</h4>
                        <div class="inline">
                            <p>From</p>
                            <h1 class="euro">102 €</h1>
                        </div>
                        <div class="botton-box">
                            <a href="/search" class="button">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}