{% extends "layout-user.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="h1-logo">
            <h1>Welcome to Latvian Airlines!</h1>
        </div>

        <div class="travel-new">
            <div class="travel-new-left">
                <h2>New flights</h2>
                <p style="padding-top: 30px;">Riga - Reykjavik</p>
                <p style="padding-top: 30px;">Riga - Aberdeen</p>
                <p style="padding-top: 30px;">Riga - Dubrovnik</p>
                <div class="botton-box" style="padding: 30px 20px 0 0;">
                    <a href="/search" class="button">Book now</a>
                </div>
            </div>
            <div class="travel-new-right">
                <img src="https://www.airbaltic.com/destinations-silo-2019/kef.jpg"></img>
            </div>
        </div>


        <div class="h2-logo">
            <h2>Book your skiing holiday</h2>
        </div>
        <div class="travels-rows">
            <div class="travels-column">
                <div class="travels-mini">
                    <img src="https://www.airbaltic.com/destinations-silo-2019/ktt.jpg?0a556eb29">
                    <div class="travels-mini-info">
                        <p>Riga -</p>
                        <h3>Kittila</h3>
                        <h4>January</h4>
                        <div class="inline">
                            <p>From</p>
                            <h1 class="euro">99 €</h1>
                        </div>
                        <div class="botton-box">
                            <a href="/search" class="button">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travels-column">
                <div class="travels-mini">
                    <img src="https://www.airbaltic.com/destinations-silo-2019/szg.jpg?0a556eb29">
                    <div class="travels-mini-info">
                        <p>Riga -</p>
                        <h3>Salzburg</h3>
                        <h4>December</h4>
                        <div class="inline">
                            <p>From</p>
                            <h1 class="euro">120 €</h1>
                        </div>
                        <div class="botton-box">
                            <a href="/search" class="button">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travels-column">
                <div class="travels-mini">
                    <img src="https://www.airbaltic.com/destinations-silo-2019/muc.jpg?0a556eb29">
                    <div class="travels-mini-info">
                        <p>Riga -</p>
                        <h3>Munich</h3>
                        <h4>December</h4>
                        <div class="inline">
                            <p>From</p>
                            <h1 class="euro">102 €</h1>
                        </div>
                        <div class="botton-box">
                            <a href="/search" class="button">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travels-column">
                <div class="travels-mini">
                    <img src="https://www.airbaltic.com/destinations-silo-2019/zrh.jpg?b1cd88db5">
                    <div class="travels-mini-info">
                        <p>Riga -</p>
                        <h3>Zurich</h3>
                        <h4>January</h4>
                        <div class="inline">
                            <p>From</p>
                            <h1 class="euro">89 €</h1>
                        </div>
                        <div class="botton-box">
                            <a href="/search" class="button">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travels-column">
                <div class="travels-mini">
                    <img src="https://www.airbaltic.com/destinations-silo-2019/vrn.jpg?b1cd88db5">
                    <div class="travels-mini-info">
                        <p>Riga -</p>
                        <h3>Verona</h3>
                        <h4>January</h4>
                        <div class="inline">
                            <p>From</p>
                            <h1 class="euro">89 €</h1>
                        </div>
                        <div class="botton-box">
                            <a href="/search" class="button">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travels-column">
                <div class="travels-mini">
                    <img src="https://www.airbaltic.com/destinations-silo-2019/mxp.jpg?b1cd88db5">
                    <div class="travels-mini-info">
                        <p>Riga -</p>
                        <h3>Milan</h3>
                        <h4>January</h4>
                        <div class="inline">
                            <p>From</p>
                            <h1 class="euro">49 €</h1>
                        </div>
                        <div class="botton-box">
                            <a href="/search" class="button">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h2-logo">
            <h2>Book your sun and sea holiday</h2>
        </div>
        <div class="travels-rows">
            <div class="travels-column">
                <div class="travels-mini">
                    <img src="https://blog.airbaltic.com/wp-content/uploads/2020/10/airbaltic_blog_bo_sun-kissed-coasts_main-1024x576.jpeg">
                    <div class="travels-mini-info">
                        <p>Riga -</p>
                        <h3>Athens</h3>
                        <h4>February</h4>
                        <div class="inline">
                            <p>From</p>
                            <h1 class="euro">130 €</h1>
                        </div>
                        <div class="botton-box">
                            <a href="/search" class="button">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travels-column">
                <div class="travels-mini">
                    <img src="https://www.airbaltic.com/destinations-silo-2019/fco.jpg">
                    <div class="travels-mini-info">
                        <p>Riga -</p>
                        <h3>Rome</h3>
                        <h4>January</h4>
                        <div class="inline">
                            <p>From</p>
                            <h1 class="euro">90 €</h1>
                        </div>
                        <div class="botton-box">
                            <a href="/search" class="button">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travels-column">
                <div class="travels-mini">
                    <img src="https://www.airbaltic.com/destinations-silo-2019/lca.jpg">
                    <div class="travels-mini-info">
                        <p>Riga -</p>
                        <h3>Larnaca</h3>
                        <h4>December</h4>
                        <div class="inline">
                            <p>From</p>
                            <h1 class="euro">150 €</h1>
                        </div>
                        <div class="botton-box">
                            <a href="/search" class="button">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travels-column">
                <div class="travels-mini">
                    <img src="https://www.airbaltic.com/destinations-silo-2019/tlv.jpg">
                    <div class="travels-mini-info">
                        <p>Riga -</p>
                        <h3>Tel Aviv</h3>
                        <h4>February</h4>
                        <div class="inline">
                            <p>From</p>
                            <h1 class="euro">112 €</h1>
                        </div>
                        <div class="botton-box">
                            <a href="/search" class="button">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travels-column">
                <div class="travels-mini">
                    <img src="https://www.airbaltic.com/destinations-silo-2019/lis.jpg">
                    <div class="travels-mini-info">
                        <p>Riga -</p>
                        <h3>Lisbon</h3>
                        <h4>January</h4>
                        <div class="inline">
                            <p>From</p>
                            <h1 class="euro">99 €</h1>
                        </div>
                        <div class="botton-box">
                            <a href="/search" class="button">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="travels-column">
                <div class="travels-mini">
                    <img src="https://www.airbaltic.com/destinations-silo-2019/bcn.jpg">
                    <div class="travels-mini-info">
                        <p>Riga -</p>
                        <h3>Barcelona</h3>
                        <h4>February</h4>
                        <div class="inline">
                            <p>From</p>
                            <h1 class="euro">105 €</h1>
                        </div>
                        <div class="botton-box">
                            <a href="/search" class="button">Book now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}