<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>AirLines Latvia</title>
</head>
<body>
    <div class="landing-page">
        <div class="page-content">
            <h1>Airlines Latvia</h1>
            <p>We are operating direct flights from all three Baltic capitals and serve the major European cities. The network is built to connect Europe, Scandinavia, Russia, CIS and Middle East.</p>
            <a href="/home">Book your next flight</a>
        </div>
    </div>
</body>
</html>