{% extends "layout-admin.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view-book.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/getPosts.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <h1>All user's book:</h1>
    <p>{{view}}</p>
    <div class="buttons">
        <a class="button" href="/view">Go back</a>
    </div>
</div>
{% endblock %}
